.home
  position: absolute;
  height 100%;
  width: 100%;
  left 0;
  right 0;
  margin: 0 auto;
  padding-top: 0;
  max-width 100%;
  box-sizing: border-box;
  .hero
    position:absolute;
    top: 50%;
    left 50%;
    transform: translate(-50%,-65%);
    img 
      max-height: 80px;
      max-width 100%;
      display: block;
  .footer 
    position: absolute;
    bottom: 5px;
    left 0;
    right 0;
    margin 0 auto;

.page
  .content:not(.custom) 
    max-width 800px;
    margin-left: 0;

.sidebar
  width: 16rem;
